.contacts {
  padding: 0 120px;
  margin-bottom: 164px;

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 48px;
    color: $color-text-global;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 846px;
    width: 100%;
    margin: 0 auto;
  }

  &__form {
    width: 100%;
    max-width: 411px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 14px 16px;
    background-color: $color-text-global;
    border: 1px solid $color-text-global;
    border-radius: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    outline: none;
  }

  &__textarea {
    border-radius: 16px;
    min-height: 148px;
    resize: none;
  }

  &:hover {
    border: 1px solid $color-border;
  }

  &:not(:placeholder-shown) {
    // когда в инпуте появится текст
    border: 1px solid $color-global-nav;
  }

  &::placeholder {
    color: $color-form-placeholder;
  }

  &__btn {
    padding: 14.5px 0;
    margin: 16px 0;
    background-color: $color-text-global;
    color: $color-global-nav;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    cursor: $cursor-custom-body;
    transition: background-color 0.3s;

    &:hover {
      box-shadow: 1px 4px 16px 0 $shadow-color;
    }

    &:active {
      box-shadow: 1px 4px 16px 0 $shadow-color-active;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    margin-bottom: 8px;
    color: $color-text-global;
  }

  &__link,
  &__address {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    text-decoration: none;
    font-style: normal;
    color: $color-text-global;
  }
}

@media (max-width: 744px) {
  .contacts {
    margin-bottom: 102px;

    &__title {
      font-weight: 500;
    }

    &__inner {
      grid-template-columns: 288px 1fr;
      gap: 24px;
      max-width: 549px;
    }

    &__form {
      min-width: 100%;
    }

    &__btn {
      margin: 16px 0;
    }
  }
}

@media (min-width: 480px) and (max-width: 744px) {
  .contacts {
    padding: 0 20px;
    margin-bottom: 120px;

    &__title {
      font-weight: 500;
      font-size: 32px;
    }

    &__inner {
      flex-direction: column;
      gap: 48px;
    }

    &__form {
      min-width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .contacts {
    padding: 0 20px;
    margin-bottom: 120px;

    &__title {
      font-weight: 500;
      font-size: 32px;
    }

    &__inner {
      flex-direction: column;
      gap: 48px;
    }
  }
}
