@import 'vars';
@import 'header';
@import 'move-free';
@import 'compare-bikes';
@import 'details';
@import 'contact-us';
@import 'footer-bike';

* {
  box-sizing: border-box;
  font-family: $font-global;
  margin: 0;
  padding: 0;
}

a,
button {
  &:hover {
    cursor: $cursor-custom-body;
  }
}

.main {
  background-color: $color-bg-main-dark;
}

// чтобы страница не скролила вниз при откытом меню
body:has(.nav.header__nav--active) {
  overflow: hidden;
}
