.move-free {
  padding: 120px 207px 164px 120px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
  }

  &__title {
    display: flex;
    align-items: start;
    margin: 0;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: $color-text-global;
  }

  &__text {
    max-width: 500px;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0;
    color: $color-text-global;
  }
}
