/* stylelint-disable scss/dollar-variable-colon-space-after */

$font-global: Poppins, sans-serif;
$color-text-global: #fff;
$color-global-nav: #1d1d1d;
$cursor-custom-body:
  url('../images/Mice.svg') 5 5,
  pointer;
$cursor-custom-nav:
  url('../images/Cursor-Mouse-Mice.svg') 5 5,
  pointer;
$color-bg-main-dark: #1d1d1d;
$color-form-placeholder: #7e7e83;
$shadow-color: #e8e8f066;
$shadow-color-active: #e8e8f0a3;
$color-border: #d5d7de;
$bg-color-border-input: #f8f8fa;
